name: Production service schedules.rbcyber.org
on:
    push:
        branches:
            - main

jobs:
    prod:
        name: Production service for schedules.rbcyber.org
        runs-on: ubuntu-latest
        steps:
            - name: Execute remote SSH commands
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: ${{ secrets.SSH_PORT }}
                  script: |
                      sudo systemctl restart schedule-builder.service
                      sudo wall "schedules.rbcyber.org has been rebuilt from GitHub."
